body{
  background-color:#000;
  color:#f00;
  font-family:"Nanum myeongjo";
  font-size:1vw;
}
h1{
  text-align:left;
  font-family:"Nanum myeongjo";
  font-size:10vw;
  color:#fff;
  text-shadow: 2vw 1vw 1vw rgba(255,255,255,0.5);
}
