body{
  background-color:#000;
  color:#f00;
  font-family:"Nanum myeongjo";
  font-size:1vw;
  overflow-wrap:break-word;
}
h1{
  text-align:left;
  font-family:"Nanum myeongjo";
  font-size:10vw;
  color:#fff;
  margin:0;
}
