body {
	background:black;
	background:linear-gradient(rgba(0,0,0,0.5)),url('https://i.pinimg.com/736x/35/d8/48/35d848a665f27f3c75f0e8234f7f69ce.jpg');
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	color:white;
	font-family: "Nanum Myeongjo", system-ui;
	display:flex;
	
}
.title{	
	border-bottom:1px solid white;
	flex:1 1 50%;
}
.content{
	flex: 1 1 50%;
	display:flex;
	flex-flow: row wrap;
	align-items:stretch;
	justify-content:space-around;
}


p{
	color:#f00;
	margin:0;
	font-size:2vh;
	font-weight:500;
	font-family:"Nanum Pen Script", system-ui;
}
h1{
	margin-bottom:0;
	font-size:10vh;
	font-weight:500;
	text-align:center;
}
h2{
	margin:0;
	font-size:7vh;
	font-weight:500;
	font-family:"Song Myung", system-ui;
}
h3{
	margin:0;
	font-size:5vh;
	font-weight:100;
	text-align:center;
}
a{
	margin:0;
	font-weight:100;
	font-size:5vh;
	text-decoration:none;
	color:white;
}
li{
	margin:0;   
	font-weight:100;
	font-size:5vh;
}
