body {
	background:linear-gradient(rgba(0,0,0,0.5)),url("bonobono.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	color:white;
	font-family: "Nanum Myeongjo", system-ui;
	display:grid;
	grid-template-columns:repeat(3,1fr);
	grid-template-rows:repeat(5,1fr);
	justify-items:center;
}
.title{
	grid-column:1/span 3;
	grid-row:1;
	border-bottom:1px solid white;
}
.a{
	grid-column:1;
	grid-row:2/span 3;
	border-right:1px solid white;
	border-left:1px solid white;
}
.b{
	grid-column:2;
	grid-row:2/span 3;
	border-right:1px solid white;
	border-left:1px solid white;
}
.c{
	grid-column:3;
	grid-row:2/span 3;
	border-right:1px solid white;
	border-left:1px solid white;
}
.d{
	grid-column:1/span 3
	grid-row:3
	border-top:1px solid white;
}
p{
	color:#f00;
	margin:0;
	font-size:2vh;
	font-weight:500;
	font-family:"Nanum Pen Script", system-ui;
}
h1{
	margin-bottom:0;
	font-size:10vh;
	font-weight:500;
	text-align:center;
}
h2{
	margin:0;
	font-size:7vh;
	font-weight:500;
	font-family:"Song Myung", system-ui;
}
h3{
	margin:0;
	font-size:5vh;
	font-weight:100;
	text-align:center;
}
a{
	margin:0;
	font-weight:100;
	font-size:5vh;
	text-decoration:none;
	color:white;
}
li{
	margin:0;   
	font-weight:100;
	font-size:7vh;
}
