body {
	background:linear-gradient(rgba(255,255,255,0.5)),url('https://i.pinimg.com/736x/35/d8/48/35d848a665f27f3c75f0e8234f7f69ce.jpg');
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	color:black;
	font-family: "Nanum Myeongjo", system-ui;
	display:grid;
	grid-template-columns:repeat(3,1fr);
	grid-template-rows:repeat(5,1fr);
	justify-items:center;
}
.title{
	grid-column:1/span 3;
	grid-row:1;
	border-bottom:1px solid black;
}
.a{
	grid-column:1;
	grid-row:2/span 3;
}
.b{
	grid-column:2;
	grid-row:2/span 3;
}
.c{
	grid-column:3;
	grid-row:2/span 3;
}
.d{
	grid-column:1/span 3;
	grid-row:3;
	border-top:1px solid black;
}

p{
	color:#f00;
	margin:0;
	font-size:2vh;
	font-weight:500;
	font-family:"Nanum Pen Script", system-ui;
}
h1{
	margin-bottom:0;
	font-size:10vh;
	font-weight:500;
	text-align:center;
}
h2{
	margin:0;
	font-size:7vh;
	font-weight:500;
	font-family:"Song Myung", system-ui;
}
h3{
	margin:0;
	font-size:5vh;
	font-weight:100;
	text-align:center;
}
a{
	margin:0;
	font-weight:100;
	font-size:5vh;
	text-decoration:none;
	color:black;
}
li{
	margin:0;   
	font-weight:100;
	font-size:7vh;
}
