body {
  background:linear-gradient(rgba(0,0,0,0.5)),url('https://i.pinimg.com/736x/35/d8/48/35d848a665f27f3c75f0e8234f7f69ce.jpg');
  background-attachment:fixed;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  color:white;
}
p{
  color :#f00;
    margin:0;
    font-size: 2vh;
    font-weight:500;
    font-family: "Nanum Pen Script", system-ui;
    margin:0;
}
h1{
    margin-bottom:0;
    font-size:10vh;
    font-weight:50;
    text-align:center;
    font-family: "Nanum Myeongjo", system-ui;
}
h2{
    margin:0;
    font-size:7vh;
    font-weight:50;
    font-family: "Song Myung", system-ui;
}
h3{
    margin:0;
    font-size:5vh;
    font-weight:100;
    text-align: center;
    font-family: "Nanum Myeongjo" ,"cursive";
}
a{
  color:#0f0;
    margin:0;
    font-weight:15;
    font-size:5vh;
    font-family:"Nanum Myeongjo", system-ui;
    text-decoration:none;    
}
li{
    margin:0;   
    font-weight:15;
    font-size:7vh;
    font-family:"Nanum Myeongjo", system-ui;   
}
